@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
* {
	font-family: 'Montserrat', sans-serif;
}
body {
    text-align: center;
}
h1 {
    color: darkcyan;
}
h3 {
    color: crimson;
    text-align: center;
}
.box {
    border: black 1px solid;
    width: fit-content;
    margin-top: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}