@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
* {
	font-family: 'Montserrat', sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    color: darkcyan;
}
h3 {
    color: crimson;
    text-align: center;
    text-decoration: underline;
}
.box {
    border: black 1px solid;
    border-radius: 5px;
    width: 50%;
    margin-top: 5px;
    padding: 2px 5px;
}